name: deploy-dev

on:
  pull_request:
  workflow_dispatch:

concurrency: ${{ github.head_ref }}

jobs:

  build-api:
    uses: jbrunton/workflows/.github/workflows/build-image.yml@develop
    with:
      repo-name: jbrunton/auth0-test-api
      working-directory: services/api
      buildpack: paketo-buildpacks/nodejs
      publish: true
      docker-username: jbrunton
      cache-image: jbrunton/auth0-test-api-cache-image:latest
    secrets:
      docker-access-token: ${{ secrets.DOCKER_ACCESS_TOKEN }}

  deploy-app:
    environment:
      name: Development
      url: https://auth0-test-${{ github.head_ref }}.dev.jbrunton-aws.com
    needs: [build-api]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Client
        env:
          VITE_API_URL: https://auth0-test-api-${{ github.head_ref }}.dev.jbrunton-aws.com
        run: |
          npm ci
          npm run build
        working-directory: client
      - run: npm ci
        working-directory: pulumi
      - uses: pulumi/actions@v3
        with:
          command: up
          stack-name: ${{ github.head_ref }}
          upsert: true
          work-dir: pulumi
          comment-on-pr: true
          github-token: ${{ secrets.CI_MINION_PAT }}
        env:
          PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: us-east-1
          API_TAG: ${{ needs.build-api.outputs.tag }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
